.salons-tabs {
	&__item {
		display: none;

		&--active {
			display: block;
		}
	}

	&__content {
		display: flex;

		@include mq('phone') {
			flex-direction: column;
		}

		&:not(:last-child) {
			margin-bottom: 20px;
			padding-bottom: 20px;
			@include bottom-line;
		}
	}

	&__place {
		width: 100%;
		max-width: 250px;
		margin-right: 40px;

		@include mq('xl') {
			margin-right: 20px;
		}

		@include mq('phone') {
			margin-right: 0;
			margin-bottom: 20px;
		}
	}

	&__subtitle {
		display: inline-block;
		margin-bottom: 3px;
		color: $dark-700;
		font-weight: $fw-800;
		font-size: 17px;
	}

	&__list,
	&__work {
		font-size: 14px;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
	}

	&__station {
		display: flex;
		align-items: center;
		color: $dark-700;

		&:not(:last-child) {
			margin-right: 22px;
		}
	}

	.fa-circle {
		margin-right: 8px;
		font-size: 12px;
	}
}
