.guarantee-distribute {
	&__top {
		width: 100%;
		max-width: 650px;
		margin: 0 auto;
		margin-bottom: 60px;
		text-align: center;
		@include adaptiv-value('margin-bottom', 60, 35, 1);
	}

	&__title {
		@include adaptiv-value('margin-bottom', 20, 15, 1);
	}

	&__accent {
		color: $orange-500;
	}

	&__subtitle {
		color: $dark-700;
	}

	&__items {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 50px;

		@include mq('xl') {
			gap: 35px;
		}

		@include mq('phone') {
			grid-template-columns: 1fr;
		}
	}

	&__item {
		&:first-child {
			@include adaptiv-value('border-top-left-radius', 100, 50, 1);
		}

		&:last-child {
			@include adaptiv-value('border-top-right-radius', 100, 50, 1);
		}
	}
}
