.advantages {
	&--normal {
		.advantages__img {
			position: relative;
			max-width: 620px;
			@include adaptiv-value('margin-right', 50, 0, 1);

			@include mq('xl') {
				max-width: 80%;
				margin: 0 auto 60px;
			}

			@include mq('phone') {
				max-width: 100%;
				margin-bottom: 108px;
			}
		}
	}

	&--values {
		.advantages__image {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			width: 100%;
			max-width: 620px;
			@include adaptiv-value('margin-right', 50, 0, 1);

			@include mq('xl') {
				max-width: 80%;
				margin: 0 auto 60px;
			}

			@include mq('phone') {
				max-width: 100%;
				margin-bottom: 30px;
			}
		}

		.advantages__content {
			max-width: 400px;
			margin-top: -100px;
			margin-bottom: 20px;
			padding: 40px;

			@include mq('phone') {
				max-width: 100%;
				margin-top: -90px;
				padding: 30px;
				border-radius: 20px 70px;
			}
		}

		.advantages__subtitle {
			@include subtitle;
			margin-bottom: 15px;
			text-align: left;

			@include mq('phone') {
				margin-bottom: 7px;
				font-size: 15px;
			}
		}

		.advantages__subtext {
			letter-spacing: 0.02em;

			@include mq('phone') {
				font-size: 12px;
			}
		}

		.advantages__link {
			@include more;
		}
	}

	&__title {
		font-size: 0;

		@include mq('xl') {
			width: 100%;
			max-width: 890px;
			margin: 0 auto 45px;
			color: $dark-700;
			font-weight: $fw-800;
			font-size: 45px;
			line-height: 1.2;
		}

		@include mq('phone') {
			font-size: 31px;
		}
	}

	&__wrapper {
		display: flex;
		justify-content: center;

		@include mq('xl') {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__img {
		@include bg-img;
		width: 100%;
		height: 390px;
		background-size: cover;
		border-radius: 150px 50px;

		@include mq('phone') {
			height: 187px;
			border-radius: 113px 18px;
		}
	}

	&__benefits,
	&__content {
		width: 100%;
		background-color: rgba($white, 0.9);
		border-radius: 40px 80px;
		box-shadow: 3px 5px 25px rgba($black, 0.1);
		backdrop-filter: blur(37px);
	}

	&__benefits {
		position: absolute;
		right: 0;
		bottom: 0;
		display: flex;
		max-width: 573px;
		padding: 25px 25px 50px;
		transform: translateY(50%);

		@include mq('xl') {
			border-radius: 27px 55px;
			transform: translateY(0);
		}

		@include mq('phone') {
			right: 0;
			left: 0;
			max-width: 100%;
			padding: 22px 23px 45px;
			transform: translateY(70%);
		}

		&::before {
			position: absolute;
			bottom: 14px;
			left: 103px;
			width: 373px;
			height: 30px;
			background-image: url('../img/advantages/line.svg');
			content: '';
			@include bg-img;

			@include mq('phone') {
				bottom: 20px;
				left: 55px;
				width: 221px;
				height: 17px;
			}
		}
	}

	&__items {
		@include mq('xl') {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 20px;
		}

		@include mq('phone') {
			grid-template-columns: 1fr;
			gap: 30px;
			width: 100%;
			max-width: 300px;
		}
	}

	&__item {
		position: relative;
		width: 100%;
		max-width: 164px;
		padding-top: 46px;

		@include mq('phone') {
			max-width: 100px;
			padding-top: 36px;
		}

		&:not(:last-child) {
			margin-right: 15px;
		}

		&::before {
			position: absolute;
			top: 0;
			left: 50%;
			width: 40px;
			height: 40px;
			transform: translateX(-50%);
			content: '';
			@include bg-img;

			@include mq('phone') {
				width: 33px;
				height: 33px;
			}
		}

		&--guarantee {
			&::before {
				background-image: url('../img/advantages/guarantee.svg');
			}
		}

		&--deadline {
			&::before {
				background-image: url('../img/advantages/deadline.svg');
			}
		}

		&--class {
			&::before {
				background-image: url('../img/advantages/class.svg');
			}
		}
	}

	&__subtitle {
		color: $dark-700;
		font-weight: $fw-800;
		font-size: 16px;
		line-height: 1.4;
		text-align: center;

		@include mq('phone') {
			font-size: 8px;
		}
	}

	&__small {
		display: block;
		font-size: 12px;

		@include mq('phone') {
			font-size: 6px;
		}
	}

	&__info {
		width: 100%;
		max-width: 500px;

		@include mq('xl') {
			max-width: 80%;
			margin: 0 auto;
		}

		@include mq('phone') {
			max-width: 100%;
		}
	}

	&__headding {
		display: inline-block;
		margin-bottom: 47px;
		color: $dark-700;
		font-weight: $fw-800;
		font-size: 40px;
		line-height: 1.2;

		@include mq('xl') {
			display: none;
		}
	}

	&__accent {
		color: $orange-500;
	}

	&__box {
		position: relative;
		padding-left: 30px;

		&:not(:last-child) {
			margin-bottom: 28px;

			@include mq('xl') {
				margin-bottom: 0;
			}
		}

		&::before {
			position: absolute;
			top: 2px;
			left: 0;
			width: 16px;
			height: 16px;
			background-color: $orange-500;
			border-radius: 50%;
			content: '';
		}
	}

	&__subheadding {
		display: inline-block;
		margin-bottom: 11px;
		@include subtitle;
		font-weight: $fw-800;

		@include mq('phone') {
			margin-bottom: 5px;
		}
	}

	&__text {
		@include mq('phone') {
			font-size: 13px;
		}
	}
}
