.new-models {
	&__title {
		margin-bottom: 50px;

		@include mq('phone') {
			margin-bottom: 30px;
		}
	}

	&__accent {
		color: $orange-500;
	}

	&__wrapper {
		position: relative;
	}

	&__item {
		position: relative;
		box-sizing: border-box;
		max-width: 100%;
	}

	&__swiper {
		margin: 0;
		overflow: hidden;
	}

	&__button {
		top: 210px;
		background-color: $orange-500;
		transform: translateY(-50%);

		&--prev {
			left: 15px;
		}

		&--next {
			right: 15px;
		}

		@include mq('phone') {
			display: none;
		}
	}

    &__scrollbar {
		display: none;

		@include mq('phone') {
			display: block;
		}
	}

	.swiper-scrollbar.swiper-scrollbar-horizontal {
		display: none;

		@include mq('phone') {
			display: block;
		}
	}
    
    .product-card {
        &::before {
            @include mq('phone') {
                opacity: 0;
            }
        }
    }
}
