.new-models {
	&__title {
		margin-bottom: 50px;

		@include mq('phone') {
			margin-bottom: 30px;
		}
	}

	&__accent {
		color: $orange-500;
	}

	&__wrapper {
		position: relative;
	}

	&__items {
		@include mq('phone') {
			display: block;
			transform: translate3d(0, 0, 0) !important;
			transition-duration: none !important;
		}
	}

	&__item {
		position: relative;
		box-sizing: border-box;
		max-width: 100%;

		@include mq('phone') {
			display: none;
		}

		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3) {
			@include mq('phone') {
				display: block;
			}
		}

        &:not(:last-child) {
			@include mq('phone') {
				margin-bottom: 30px;
			}
		}
	}

	&__swiper {
		margin: 0;
		overflow: hidden;
	}

	&__button {
		top: 210px;
		background-color: $orange-500;
		transform: translateY(-50%);

		&--prev {
			left: 15px;
		}

		&--next {
			right: 15px;
		}

		@include mq('phone') {
			display: none;
		}
	}
}
