<section class="modal modal--froze">
    <div class="modal__body">
        <div class="modal__content">
            <div class="modal__top">
                <h2 class="modal__title">Запись на замер</h2>
                <button class="modal__close" type="button">
                    <span class="sr-only">Закрыть окно</span>
                </button>
            </div>
            <form class="modal__form" action="#" data-validate>
                <div class="modal__wrapper">
                    <div class="modal__inner">
                        <input class="modal__hidden" type="radio" name="froze" id="froze-design" checked>
                        <label class="modal__box" for="froze-design">
                            Бесплатный дизайн проекта
                        </label>
                    </div>
                    <div class="modal__inner">
                        <input class="modal__hidden" type="radio" name="froze" id="froze-call" checked>
                        <label class="modal__box" for="froze-call">
                            Вызов замерщика
                        </label>
                    </div>
                </div>
                <div class="modal__items">
                    <div class="modal__item">
                        <label class="sr-only" for="froze-name">
                            Ваше имя
                        </label>
                        <input class="modal__field" id="froze-name" name="name" type="text" placeholder="Ваше имя" required>
                    </div>
                    <div class="modal__item">
                        <label class="sr-only" for="froze-tel">
                            Ваш номер телефона
                        </label>
                        <input class="modal__field" id="froze-tel" name="tel" type="tel" placeholder="Ваш номер телефона" pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" required>
                    </div>
                    <div class="modal__item">
                        <label class="sr-only" for="froze-address">
                            Ваш адрес
                        </label>
                        <input class="modal__field" id="froze-address" name="address" type="email" placeholder="Ваш адрес" required>
                    </div>
                </div>
                <button class="modal__button btn" type="submit">Заказать обратный звонок</button>
                <div class="modal__agreement">
                    <label>
                        <input class="modal__check" type="checkbox" name="agree" checked>
                        Я согласен(а) на
                        <span class="modal__visible"></span>
                    </label>
                    <a class="modal__link" href="#">обработку персональных данных</a>
                </div>
            </form>
        </div>
    </div>
</section>