.values {
	&__top {
		width: 100%;
		max-width: 700px;
		margin-bottom: 45px;

		@include mq('phone') {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 35px;
			text-align: center;
		}
	}

	&__title {
		margin-bottom: 20px;
	}

	&__accent {
		color: $orange-500;
	}

	&__subtitle {
		font-size: 18px;
		letter-spacing: 0.02em;
	}

	&__subtitle,
	&__text {
		@include mq('phone') {
			font-size: 12px;
		}
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
        padding-bottom: 15px;

		@include mq('phone') {
			grid-template-columns: repeat(3, 270px);
			overflow-x: auto;
		}
	}

	&__item {
		position: relative;
		padding-left: 25px;

		@include mq('phone') {
			padding-left: 16px;
		}

		&::before {
			position: absolute;
			top: 4px;
			left: 0;
			width: 16px;
			height: 16px;
			background-color: $orange-500;
			border-radius: 50%;
			content: '';

			@include mq('phone') {
				top: 6px;
				width: 12px;
				height: 12px;
			}
		}
	}

	&__headding {
		@include subtitle;
		display: inline-block;
		margin-bottom: 10px;
		font-size: 21px;

		@include mq('phone') {
			font-size: 16px;
		}
	}
}
