.values {
	&__top {
		width: 100%;
		max-width: 700px;
		margin-bottom: 45px;
	}

	&__title {
		margin-bottom: 20px;
	}

	&__accent {
		color: $orange-500;
	}

	&__subtitle {
		font-size: 18px;
		letter-spacing: 0.02em;
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}

	&__item {
		position: relative;
		padding-left: 25px;

		&::before {
			position: absolute;
			top: 4px;
			left: 0;
			width: 16px;
			height: 16px;
			background-color: $orange-500;
			border-radius: 50%;
			content: '';
		}
	}

	&__headding {
		@include subtitle;
		display: inline-block;
		margin-bottom: 10px;
		font-size: 21px;
	}
}
