.articles {
	&__title {
		margin-bottom: 40px;

		@include mq('xl') {
			margin-bottom: 30px;
		}
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 40px;
		margin-bottom: 40px;

		@include mq('xl') {
			gap: 30px;
			margin-bottom: 35px;
		}

		@include mq('phone') {
			grid-template-columns: 1fr;
			margin-right: 0;
		}
	}

	&__button {
		width: 100%;
		max-width: 326px;
		margin: 0 auto;
		padding: 14px;
		border-radius: 16px;

		@include mq('phone') {
			max-width: 100%;
		}
	}
}
