.discounts-section {
	&__items {
		display: grid;
		grid-template-columns: repeat(2, minmax(437px, 812px));
		gap: 30px;
		margin-bottom: 70px;

        @include mq('phone') {
            grid-template-columns: 1fr;
            gap: 20px;
        }
	}

	&__item {
        max-height: 440px;
		background-color: $white;
		border-radius: 16px;
		box-shadow: 0 3px 80px rgba($black, 0.05), 0 0 16px rgba($black, 0.05), 16px 3px 32px rgba($black, 0.04);

        @include mq('phone') {
            height: 220px;
        }
	}

    &__link,
    &__img,
    picture {
        width: 100%;
		height: 100%;
    }

    &__link {
        display: block;
    }

	&__img {
		object-fit: cover;
		border-radius: 16px;
	}
}
