<article class="discount-card discount-card--@class">
    <a class="discount-card__link" href="#">
        <picture>
            <source srcset="img/offer/discount/@img.avif" type="image/avif">
            <source srcset="img/offer/discount/@img.webp" type="image/webp">
            <img class="discount-card__img" src="img/offer/discount/@img.jpg" alt="Кухня ..." width="435" height="670" loading="lazy">
        </picture>
        <div class="discount-card__box">
            <div class="discount-card__content">
                <span>Кухня “Lorem Ipsum”</span>
            </div>
            <div class="discount-card__content discount-card__content--price">
                <span class="discount-card__old">348 000 ₽ </span>
                <span>348 000 ₽</span>
            </div>
        </div>
    </a>
</article>