.mobile-chat {
	position: fixed;
	right: 8%;
	bottom: 110px;
	z-index: 160;
	display: none;

	@include mq('phone') {
		display: block;
	}

	&__button {
		@include bg-img;
		width: 52px;
		height: 52px;
		background-image: url('../img/mobile-menu/chat.svg');
		background-size: 31px;
		border: 2px solid $orange-500;
		border-radius: 50%;
	}
}
