.interactive-box {
	&__item {
		position: relative;
		display: none;
		padding-left: 40px;

		@include mq('phone') {
			padding-left: 30px;
		}

		&::before {
			position: absolute;
			top: 3px;
			left: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 20px;
			height: 20px;
			color: $white;
			font-size: 20px;
			background-color: $orange-500;
			border-radius: 100%;
			content: '-';
		}

		&--active {
			display: block;
		}
	}

	&__title {
		margin-bottom: 15px;
		@include subtitle;
		@include mq('phone') {
			margin-bottom: 10px;
		}
	}

	&__line {
		position: absolute;
		right: 100%;

		@include mq('xl') {
			display: none;
		}
	}

	&__text {
		@include mq('phone') {
			font-size: 13px;
		}
	}
}
