/* stylelint-disable */

$breakpoints: (
    "phone": 1000px,
    "xl": 1200px,
    "xxl": 1310px,
);

@mixin mq($width, $type: max) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);

        @if $type==max {
            $width: $width - 1px;
        }

        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}
