<article class="article-card">
    <a class="article-card__image" href="#">
        <picture>
          <source srcset="img/articles/@img.avif" type="image/avif">
          <source srcset="img/articles/@img.webp" type="image/webp">
          <img class="article-card__img" src="img/articles/@img.jpg" alt="@alt" width="375" height="375" loading="lazy">
        </picture>
    </a>
    <h3 class="article-card__title">
        <a class="article-card__link" href="#">
            @title
        </a>
    </h3>
</article>