<article class="guarantee-card">
    <div class="guarantee-card__picture">
        <picture>
          <source srcset="img/guarantee/@image/big.avif" type="image/avif">
          <source srcset="img/guarantee/@image/big.webp" type="image/webp">
          <img class="guarantee-card__image" src="img/guarantee/@image/big.jpg" alt="@alt" width="460" height="255" loading="lazy">
        </picture>
        <div class="guarantee-card__detail">
            <picture>
              <source srcset="img/guarantee/@image/small.avif" type="image/avif">
              <source srcset="img/guarantee/@image/small.webp" type="image/webp">
              <img class="guarantee-card__img" src="img/guarantee/@image/small.png" alt="@alt-small" width="125" height="125" loading="lazy">
            </picture>
        </div>
    </div>
    <h3 class="guarantee-card__title">@title</h3>
    <p class="guarantee-card__text">@text</p>
</article>