<article class="price-card">
    <span class="price-card__counter">№<span class="price-card__number">@number</span></span>
    <a class="price-card__link" href="img/price/1.png" data-fancybox="gallery-price">
        <picture>
            <source srcset="img/price/1.avif" type="image/avif">
            <source srcset="img/price/1.webp" type="image/webp">
            <img class="price-card__img" src="img/price/1.png" alt="Комплектация Silver" width="287" height="264" loading="lazy">
        </picture>
    </a>
    <h3 class="price-card__title">Комплектация Silver</h3>
    <span class="price-card__price">180 400 ₽</span>
</article>