<article class="product-card">
    <a class="product-card__box" href="#">
        <div class="product-card__items swiper">
            <ul class="swiper-wrapper">
                <li class="product-card__item swiper-slide">
                    <picture>
                      <source srcset="img/products/@img.avif" type="image/avif">
                      <source srcset="img/products/@img.webp" type="image/webp">
                      <img class="product-card__img" src="img/products/@img.jpg" alt="@alt" width="502" height="502" loading="lazy">
                    </picture>
                </li>
                <li class="product-card__item swiper-slide">
                    <picture>
                      <source srcset="img/products/@img.avif" type="image/avif">
                      <source srcset="img/products/@img.webp" type="image/webp">
                      <img class="product-card__img" src="img/products/@img.jpg" alt="@alt" width="502" height="502" loading="lazy">
                    </picture>
                </li>
                <li class="product-card__item swiper-slide">
                    <picture>
                      <source srcset="img/products/@img.avif" type="image/avif">
                      <source srcset="img/products/@img.webp" type="image/webp">
                      <img class="product-card__img" src="img/products/@img.jpg" alt="@alt" width="502" height="502" loading="lazy">
                    </picture>
                </li>
                <li class="product-card__item swiper-slide">
                    <picture>
                      <source srcset="img/products/@img.avif" type="image/avif">
                      <source srcset="img/products/@img.webp" type="image/webp">
                      <img class="product-card__img" src="img/products/@img.jpg" alt="@alt" width="502" height="502" loading="lazy">
                    </picture>
                </li>
                <li class="product-card__item swiper-slide">
                    <picture>
                      <source srcset="img/products/@img.avif" type="image/avif">
                      <source srcset="img/products/@img.webp" type="image/webp">
                      <img class="product-card__img" src="img/products/@img.jpg" alt="@alt" width="502" height="502" loading="lazy">
                    </picture>
                </li>
            </ul>
            <div class="product-card__pagination swiper-pagination"></div>
        </div>
    </a>   
    <div class="product-card__top">
        <h3 class="product-card__title">
            <a class="product-card__link" href="#">@title</a>
        </h3>

        <button class="product-card__info" type="button">@btn</button>
        <p class="product-card__hidden text-hidden">
            Описание модели описание модели описание модели исание модели описание модели описание модели исание модели описание модели
        </p>
    </div>
    <div class="product-card__cost">
        <span class="product-card__price">@price ₽</span>
        <span>за п/м</span>
    </div>
</article>