<article class="released-card">
    <h3 class="sr-only">Название проекта</h3>
    <a class="released-card__picture" href="img/released/@img.jpg" data-fancybox="gallery-released">
        <picture>
            <source srcset="img/released/@img.avif" type="image/avif">
            <source srcset="img/released/@img.webp" type="image/webp">
            <img class="released-card__img" src="img/released/@img.jpg" alt="Кухня" width="550" height="320" loading="lazy">
        </picture>
    </a>
    <div class="released-card__content">
        <div class="released-card__price">
            <span class="released-card__subtext">Цена проекта:</span>
            <span class="released-card__number">100 000 ₽</span>
        </div>
        <button class="released-card__link btn froze-btn--released" type="button">Хочу похожий</button>
    </div>
</article>
