@if(context.type === 'normal') {
    <article class="stage-card">
        <span class="stage-card__number">@number</span>
        <div class="stage-card__content">
            <div class="stage-card__bg" style="background-image: url('img/stages/@number-bg.jpg');"> </div>
            <h3 class="stage-card__subtitle">
                @title
            </h3>
        </div>
    </article>
}

@if(context.type === 'detail') {
<article class="stage-card stage-card--detail">
    <span class="stage-card__number">@number</span>
    <div class="stage-card__content">

            <h3 class="stage-card__subtitle">
                @title
            </h3>
            <p class="stage-card__text">
                @text
            </p>

        <div class="stage-card__bg" style="background-image: url('img/stages/project/@number.jpg');"> </div>
    </div>
</article>
}