<article class="stock-card">
    <a class="stock-card__image" href="#">
        <picture>
          <source srcset="img/stock/@img.avif" type="image/avif">
          <source srcset="img/stock/@img.webp" type="image/webp">
          <img class="stock-card__img" src="img/stock/@img.png" alt="@alt" width="699" height="307" loading="lazy">
        </picture>
    </a>
    <h3 class="stock-card__title">
        <a class="stock-card__link" href="#">
            @title
        </a>
    </h3>
    <p class="stock-card__text">
        @text
    </p>
</article>