<section class="advantages section">
    <div class="container">
        <h2 class="advantages__title">
            @title <span class="advantages__accent">@accent</span>
        </h2>
        <div class="advantages__wrapper">
            <div class="advantages__img" style="background-image: url('img/advantages/bg-@img.jpg')">
                <ul class="advantages__benefits">
                    <li class="advantages__item advantages__item--guarantee">
                        <h3 class="advantages__subtitle">
                            Гарантия <br /> 12 лет
                        </h3>
                    </li>
                    <li class="advantages__item advantages__item--deadline">
                        <h3 class="advantages__subtitle">
                            Сроки доставки от 20 раб. дней
                        </h3>
                    </li>
                    <li class="advantages__item advantages__item--class">
                        <h3 class="advantages__subtitle">
                            Класс экологичности Е1
                            <span class="advantages__small">
                                (и сертификация ISO9001)
                            </span>
                        </h3>
                    </li>
                </ul>
            </div>

            <div class="advantages__info">
                <span class="advantages__headding">
                    Приемущества фабрики <span class="advantages__accent">ZETTA</span>
                </span>
                <ul class="advantages__items">
                    <li class="advantages__box">
                        <h3 class="advantages__subheadding">
                            Поставки из Италии без задержек
                        </h3>
                        <p class="advantages__text">
                            Оплаты поставщикам и логистика стали сложнее, но это не влияет на сроки отгрузки
                        </p>
                    </li>
                    <li class="advantages__box">
                        <h3 class="advantages__subheadding">
                            <span class="advantages__accent">
                                Держим лучшие цены
                            </span>на итальянские кухни
                        </h3>
                        <p class="advantages__text">
                            Уникальные логистические цепочки и прямые контракты позволяют купить кухню из Италии даже за 400 000 рублей
                        </p>
                    </li>
                    <li class="advantages__box">
                        <h3 class="advantages__subheadding">
                            Сроки доставки не меняются
                        </h3>
                        <p class="advantages__text">
                            Все обязательства перед клиентами исполняются на 100% в срок
                        </p>
                    </li>
                    <li class="advantages__box">
                        <h3 class="advantages__subheadding">
                            <span class="advantages__accent">
                                Складские резервы
                            </span>находятся в РФ
                        </h3>
                        <p class="advantages__text">
                            Запасы рассчитаны на 2 000 кухонь
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>