<section class="advantages section advantages--@class">
    <div class="container">
        <h2 class="advantages__title">
            @title <span class="advantages__accent">@accent</span>
        </h2>
        <div class="advantages__wrapper">

            @if(context.class === "normal") {
                <div class="advantages__img" style="background-image: url('img/advantages/bg-@img.jpg')">
                    <ul class="advantages__benefits">
                        <li class="advantages__item advantages__item--guarantee">
                            <h3 class="advantages__subtitle">
                                Гарантия <br /> 12 лет
                            </h3>
                        </li>
                        <li class="advantages__item advantages__item--deadline">
                            <h3 class="advantages__subtitle">
                                Сроки доставки от 20 раб. дней
                            </h3>
                        </li>
                        <li class="advantages__item advantages__item--class">
                            <h3 class="advantages__subtitle">
                                Класс экологичности Е1
                                <span class="advantages__small">
                                    (и сертификация ISO9001)
                                </span>
                            </h3>
                        </li>
                    </ul>
                </div>
            }

            @if(context.class === "values") {
                <div class="advantages__image">
                    <div class="advantages__img" style="background-image: url('img/advantages/bg-@img.jpg')">
                    </div>
                    <div class="advantages__content">
                        <h3 class="advantages__subtitle">
                            Наша миссия
                        </h3>
                        <p class="advantages__subtext">
                            «Повышать уровень жизни людей, делая качественные товары и услуги более доступными»
                        </p>
                    </div>
                    <a class="advantages__link" href="#">Подробнее</a>
                </div>
            }

            <div class="advantages__info">
                <span class="advantages__headding">
                    @title <span class="advantages__accent">@accent</span>
                </span>
                <ul class="advantages__items">
                    <li class="advantages__box">
                        <h3 class="advantages__subheadding">
                            @headding-1
                        </h3>
                        <p class="advantages__text">
                            @text-1
                        </p>
                    </li>
                    <li class="advantages__box">
                        <h3 class="advantages__subheadding">
                            @headding-2
                        </h3>
                        <p class="advantages__text">
                            @text-2
                        </p>
                    </li>
                    <li class="advantages__box">
                        <h3 class="advantages__subheadding">
                            @headding-3
                        </h3>
                        <p class="advantages__text">
                            @text-3
                        </p>
                    </li>
                    <li class="advantages__box">
                        <h3 class="advantages__subheadding">
                            @headding-4
                        </h3>
                        <p class="advantages__text">
                            @text-4
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>