<section class="articles section">
    <div class="@container">
        <h2 class="articles__title title">Статьи</h2>
        <ul class="sorting">
            <li class="sorting__item" data-filter=".category-kitchen">
                <button class="sorting__button" type="button">
                    Красивые проекты
                </button>
            </li>
            <li class="sorting__item" data-filter=".category-kitchen-one">
                <button class="sorting__button" type="button">
                    Красивые проекты
                </button>
            </li>
            <li class="sorting__item" data-filter=".category-kitchen-two">
                <button class="sorting__button" type="button">
                    Красивые проекты
                </button>
            </li>
            <li class="sorting__item" data-filter=".category-kitchen-three">
                <button class="sorting__button" type="button">
                    Красивые проекты
                </button>
            </li>
            <li class="sorting__item" data-filter=".category-kitchen-fore">
                <button class="sorting__button" type="button">
                    Красивые проекты
                </button>
            </li>
            <li class="sorting__item" data-filter=".category-kitchen-five">
                <button class="sorting__button" type="button">
                    Красивые проекты
                </button>
            </li>
        </ul>

        <ul class="articles__items">
            <li class="articles__item mix category-kitchen">
                @include('./cards/_article-card.html', {
                    'img' : '1',
                    'alt' : 'Описание статьи',
                    'title' : 'Описание статьи'
                })
            </li>
            <li class="articles__item mix category-kitchen">
                @include('./cards/_article-card.html', {
                'img' : '1',
                'alt' : 'Описание статьи',
                'title' : 'Описание статьи'
                })
            </li>
            <li class="articles__item mix category-kitchen">
                @include('./cards/_article-card.html', {
                'img' : '1',
                'alt' : 'Очень большое описание большой статьи',
                'title' : 'Очень большое описание большой статьи'
                })
            </li>
            <li class="articles__item mix category-kitchen-one">
                @include('./cards/_article-card.html', {
                'img' : '2',
                'alt' : 'Описание статьи',
                'title' : 'Описание статьи'
                })
            </li>
            <li class="articles__item mix category-kitchen-two">
                @include('./cards/_article-card.html', {
                'img' : '3',
                'alt' : 'Большое описание статьи',
                'title' : 'Большое описание статьи'
                })
            </li>
            <li class="articles__item mix category-kitchen-three">
                @include('./cards/_article-card.html', {
                'img' : '3',
                'alt' : 'Очень большое описание большой статьи',
                'title' : 'Очень большое описание большой статьи'
                })
            </li>
            <li class="articles__item mix category-kitchen-fore">
                @include('./cards/_article-card.html', {
                'img' : '3',
                'alt' : 'Очень большое описание большой статьи',
                'title' : 'Очень большое описание большой статьи'
                })
            </li>
            <li class="articles__item mix category-kitchen-five">
                @include('./cards/_article-card.html', {
                'img' : '3',
                'alt' : 'Очень большое описание большой статьи',
                'title' : 'Очень большое описание большой статьи'
                })
            </li>     
        </ul>
        
        @if(context.bottom === 'button') {
            <button class="articles__button btn btn--border" type="button">
                Загрузить ещё
            </button>
        }

        @if(context.bottom === 'loading') {
        <span class="loading" style="background-image: url('img/icons/loading.svg')"></span>
        }
    </div>
</section>