<div class="breadcrumbs">
    <div class="container container--large">
        @if (context.count === "4") {
            <ul class="breadcrumbs__items">
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link" href="#">@1 -</a>
                </li>
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link" href="#">@2 -</a>
                </li>
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link" href="#">@3 -</a>
                </li>
                <li class="breadcrumbs__item">
                    <a class="breadcrumbs__link breadcrumbs__link--current">@current</a>
                </li>
            </ul>
        }

        @if (context.count === "3") {
        <ul class="breadcrumbs__items">
            <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="#">@1 -</a>
            </li>
            <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="#">@2 -</a>
            </li>
            <li class="breadcrumbs__item">
                <a class="breadcrumbs__link breadcrumbs__link--current">@current</a>
            </li>
        </ul>
        }

        @if (context.count === "2") {
        <ul class="breadcrumbs__items">
            <li class="breadcrumbs__item">
                <a class="breadcrumbs__link" href="#">@1 -</a>
            </li> 
            <li class="breadcrumbs__item">
                <a class="breadcrumbs__link breadcrumbs__link--current">@current</a>
            </li>
        </ul>
        }

    </div>
</div>