<section class="delivery-section delivery-section--@class">
    <div class="container container--large">
        @if(context.class === 'detail') {
        <div class="delivery-section__top delivery-section__top--mobile">
            <span class="delivery-section__title title">Доставка</span>
            <a class="delivery-section__detail" href="#">Подробнее</a>
        </div>
        }
        @if(context.class === 'normal') {
        <span class="delivery-section__title delivery-section__title--mobile title">Доставка</span>
        }
        <div class="delivery-section__wrapper">
            <div class="delivery-section__picture">
                @if(context.class === 'detail') {
                <div class="delivery-section__bg delivery-section__bg--big" style="background-image: url('img/delivery/big.png');"> </div>
                <div class="delivery-section__bg delivery-section__bg--small" style="background-image: url('img/delivery/small-1.jpg');"> </div>
                <div class="delivery-section__bg delivery-section__bg--small" style="background-image: url('img/delivery/small-2.jpg');"> </div>
                }
                @if(context.class === 'normal') {
                <div class="delivery-section__bg" style="background-image: url('img/delivery/big.png');"> </div>
                }
            </div>
            <div class="delivery-section__content">
                @if(context.class === 'detail') {
                <div class="delivery-section__top">
                    <h2 class="delivery-section__title title">Доставка</h2>
                    <a class="delivery-section__detail" href="#">Подробнее</a>
                </div>
                }
                @if(context.class === 'normal') {
                <h2 class="delivery-section__title title">Доставка</h2>
                }
                <ul class="delivery-section__items">
                    <li class="delivery-section__item delivery-section__item--furniture">
                        <h3 class="delivery-section__subtitle">
                            @title-1
                        </h3>
                        <div class="delivery-section__text">
                            @text-1
                        </div>
                    </li>
                    <li class="delivery-section__item delivery-section__item--transport">
                        <h3 class="delivery-section__subtitle">
                            @title-2
                        </h3>
                        <div class="delivery-section__text">
                            @text-2
                        </div>
                    </li>
                    <li class="delivery-section__item delivery-section__item--everything">
                        <h3 class="delivery-section__subtitle">
                            @title-3
                        </h3>
                        <div class="delivery-section__text">
                            @text-3
                        </div>
                    </li>
                    <li class="delivery-section__item delivery-section__item--rules">
                        <h3 class="delivery-section__subtitle">
                            @title-4
                        </h3>
                        <div class="delivery-section__text">
                            @text-4
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>