<footer class="footer">
    <div class="footer__top">
        <div class="container">
            <div class="footer__wrapper">
                <address class="footer__left">
                    <a class="footer__logo logo logo--footer" href="#">
                        <picture>
                            <source srcset="img/logo.avif" type="image/avif">
                            <source srcset="img/logo.webp" type="image/webp">
                            <img class="logo__img" src="img/logo.png" alt="Логотип" width="165" height="105" loading="lazy">
                        </picture>
                    </a>
                    <div class="footer__contacts">
                        <div class="footer__contact footer__contact--phone">
                            <a href="tel:+74842909959">
                                8 (4842) 90-99-59
                            </a>
                        </div>
                        <div class="footer__contact footer__contact--email">
                            <a href="mailto:zetta110@zetta.ru">
                                zetta110@zetta.ru
                            </a>
                        </div>
                        <span class="footer__contact footer__contact--time">
                            10:00-22:00
                        </span>
                        <span class="footer__contact footer__contact--map">
                            Москва,Расторгуевский пер., д. 1
                        </span>
                    </div>

                    <ul class="socials">
                        <li class="socials__item">
                            <a class="socials__link" href="#" style="background-image: url('img/socials/facebook.svg');" target="_blank">
                                <span class="sr-only">facebook</span>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a class="socials__link" href="#" style="background-image: url('img/socials/vk.svg');" target="_blank">
                                <span class="sr-only">vk</span>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a class="socials__link" href="#" style="background-image: url('img/socials/instagram.svg');" target="_blank">
                                <span class="sr-only">instagram</span>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a class="socials__link" href="#" style="background-image: url('img/socials/odnoklassniki.svg');" target="_blank">
                                <span class="sr-only">odnoklassniki</span>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a class="socials__link" href="#" style="background-image: url('img/socials/youtube.svg');" target="_blank">
                                <span class="sr-only">youtube</span>
                            </a>
                        </li>
                    </ul>
                </address>

                <ul class="footer__box">
                    <li class="footer__list">
                        <h3 class="footer__title">
                            Каталог
                        </h3>
                        <ul class="footer__items">
                            <li class="footer__item">
                                <a class="footer__link" href="#">Каталог</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">Кухни Модерн</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">Кухни Классика</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link footer__link--active" href="#">Все кухни</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">Товары для кухни</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">Студио</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">Шкафы</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">Гардеробные</a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">Прихожие</a>
                            </li>
                        </ul>
                    </li>
                    <li class="footer__list">
                        <h3 class="footer__title">
                            Клиентам
                        </h3>
                        <ul class="footer__items">
                            <li class="footer__item">
                                <a class="footer__link" href="#">
                                    Акции
                                </a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">
                                    On-line заявка
                                </a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">
                                    Советы эксперта
                                </a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">
                                    Купить в кредит
                                </a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">
                                    Доставка и сборка
                                </a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">
                                    Оплата банковской картой
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="footer__list">
                        <h3 class="footer__title">
                            О компании
                        </h3>
                        <ul class="footer__items">
                            <li class="footer__item">
                                <a class="footer__link" href="#">
                                    Поставщики
                                </a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">
                                    Новости
                                </a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">
                                    Гарантия
                                </a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">
                                    Миссия
                                </a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">
                                    Франшиза
                                </a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">
                                    Партнерам
                                </a>
                            </li>
                            <li class="footer__item">
                                <a class="footer__link" href="#">
                                    Вакансии
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer__bottom">
            <span class="footer__copy">
                Copyright © 1998-2022 Zetta. All rights reserved.
            </span>
            <a class="footer__privacy" href="#">Политика конфиденциальности</a>
        </div>
    </div>
</footer>
