<section class="form form--@class" id="form-@class">
    <div class="container">
        <div class="form__wrapper">
            <form class="form__form form__form--@class" action="#" data-thank="true">
                <div class="form__items">
                    <div class="form__item">
                        <label class="sr-only" for="name">
                            Введите ваше имя
                        </label>
                        <input class="form__field" id="name" name="name" type="text" placeholder="Ваше имя*" required>
                    </div>

                    @if(context.field === "tel") {
                        <div class="form__item">
                            <label class="sr-only" for="form-design-tel">
                                Введите ваш телефон
                            </label>
                            <input class="form__field" id="form-design-tel" name="tel" type="tel" placeholder="Ваш телефон*" pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" required>
                        </div>
                    }

                    @if(context.field === "email") {
                        <div class="form__item">
                            <label class="sr-only" for="form-design-email">
                                Введите вашу почту
                            </label>
                            <input class="form__field" id="form-design-email" name="email" type="email" placeholder="Ваша почта*" required>
                        </div>
                    }

                </div>
                <button class="form__button btn" type="submit">Отправить</button>
            </form>
            <div class="form__content">
                <h2 class="form__title title">
                    @title
                </h2>
                <p class="form__text form__text--@class">@text</p>
            </div>
            <div class="form__img form__img--@class" style="background-image: url('img/form/@class-bg.svg')"></div>
        </div>
    </div>
</section>