<section class="guarantee section" id="guarantee">
    <div class="container">
        <h2 class="guarantee__title title">
            Гарантия
            <span class="guarantee__accent">
                12 лет
            </span>
        </h2>
        <div class="guarantee__wrapper">
            <div class="guarantee__content">
                <div class="guarantee__text">
                    @text
                </div>
                <a class="guarantee__link btn btn--more" href="#">Подробнее</a>
            </div>
            <div class="guarantee__box">
                <ul class="guarantee__items">
                    @items
                </ul>
                <div class="guarantee__bg" style="background-image: url('img/guarantee/bg.png');"> </div>
            </div>
        </div>
    </div>
</section>

