<div class="mobile-menu">
    <div class="container">
        <ul class="mobile-menu__items">
            <li class="mobile-menu__item">
                <a class="mobile-menu__link mobile-menu__link--catalog" href="#">
                    Каталог
                </a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__link mobile-menu__link--stock" href="#">
                    Акции
                </a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__link mobile-menu__link--address" href="#">
                    Адреса
                </a>
            </li>
            <li class="mobile-menu__item">
                <a class="mobile-menu__link mobile-menu__link--3d" href="#">
                    Заказать 3D проект
                </a>
            </li>
        </ul>
    </div>
</div>