<section class="new-models section">
    <div class="container">
        <h2 class="new-models__title title">
            <span class="new-models__accent">Новые</span> модели
        </h2>

        <div class="new-models__wrapper">
            <div class="new-models__swiper swiper">
                <ul class="new-models__items swiper-wrapper">
                    <li class="new-models__item swiper-slide">
                        @include('./cards/_product-card.html', {
                        'img' : '1',
                        'alt' : 'Чезена',
                        'title' : 'Чезена',
                        'price' : '64 100 ',
                        'btn' : 'МДФ'
                        })
                    </li>
                    <li class="new-models__item swiper-slide">
                        @include('./cards/_product-card.html', {
                        'img' : '2',
                        'alt' : 'Торино',
                        'title' : 'Торино',
                        'price' : '64 100 ',
                        'btn' : 'МДФ'
                        })
                    </li>
                    <li class="new-models__item swiper-slide">
                        @include('./cards/_product-card.html', {
                        'img' : '3',
                        'alt' : 'Модена',
                        'title' : 'Модена',
                        'price' : '64 100 ',
                        'btn' : 'МДФ'
                        })
                    </li>
                    <li class="new-models__item swiper-slide">
                        @include('./cards/_product-card.html', {
                        'img' : '3',
                        'alt' : 'Модена',
                        'title' : 'Модена',
                        'price' : '64 100 ',
                        'btn' : 'МДФ'
                        })
                    </li>
                </ul>
            </div>
            <button class="new-models__button new-models__button--prev swiper-button-prev" type="button">
            </button>
            <button class="new-models__button new-models__button--next swiper-button-next" type="button">
            </button>
        </div>
    </div>
</section>