<section class="production production--transparent">
    <div class="container">
        <div class="production__wrapper">

            <h2 class="production__title title">
                @title
            </h2>
            <p class="production__text">
                @text
            </p>
            @if(context.items === 'normal') {
                <ul class="production__items">
                    <li class="production__item">
                        @include('./../components/cards/_production-card.html', {
                        'img' : '1',
                        'title' : '20 лет',
                        'text' : 'Компания основана 1997 году и мы предлагаем Вам наш 20-летний опыт работы в кухонном бизнесе'
                        })
                    </li>
                    <li class="production__item">
                        @include('./../components/cards/_production-card.html', {
                        'img' : '2',
                        'title' : '4.5 га',
                        'text' : 'В Подмосковье на площади 4,5 гектара были построены логистический и производственный комплексы'
                        })
                    </li>
                    <li class="production__item">
                        @include('./../components/cards/_production-card.html', {
                        'img' : '3',
                        'title' : '12 лет',
                        'text' : 'Мы имеем уникально высокий уровень качества, позволяющий предоставлять гарантию на кухни сроком 12 лет'
                        })
                    </li>
                    <li class="production__item">
                        @include('./../components/cards/_production-card.html', {
                        'img' : '4',
                        'title' : '70 моделей',
                        'text' : 'Наш ассортимент включает в себя 70 моделей с фасадами российского и итальянского производства'
                        })
                    </li>
                </ul>
            }

            @if(context.items === 'new') {
                <ul class="production__items">
                    <li class="production__item">
                        @include('./../components/cards/_production-card.html', {
                        'img' : '1',
                        'title' : '«Смак» начался с нас',
                        'text' : 'Вы могли видеть кухню нашего производства еще в 1999 году в ТВ-передаче «Смак» с музыкантом Андреем Макаревичем.'
                        })
                    </li>
                    <li class="production__item">
                        @include('./../components/cards/_production-card.html', {
                        'img' : '2',
                        'title' : '4.5 га',
                        'text' : 'Логистический и производственный комплексы компании расположены в Подмосковье и занимают общую площадь в 4,5 гектара.'
                        })
                    </li>
                    <li class="production__item">
                        @include('./../components/cards/_production-card.html', {
                        'img' : '3',
                        'title' : '12 лет',
                        'text' : 'Мы предоставляем один из самых длительных сроков гарантии на мебель, потому что уверены в своей продукции и ее высочайшем качестве.'
                        })
                    </li>
                    <li class="production__item">
                        @include('./../components/cards/_production-card.html', {
                        'img' : '4',
                        'title' : '70 моделей',
                        'text' : 'У нашей компании – огромный ассортимент кухонь на любой вкус с фасадами российского и итальянского производства.'
                        })
                    </li>
                </ul>
            }

            <div class="production__links">
                <a class="production__link btn btn--more" href="#">@link-1</a>
                <a class="production__link production__link--border btn btn--more" href="#">@link-2</a>
            </div>
        </div>
    </div>
</section>