@if(context.page === "production") {
    <section class="top-banner section">
        <div class="container container--large">
            <div class="top-banner__bg" style="background-image: url('img/banners/production.jpg');">
                <div class="top-banner__content">
                    <h1 class="top-banner__title title">
                        Производство
                        <span class="top-banner__accent">ZETTA</span>
                    </h1>
                    <span class="top-banner__subtitle">Фабрика кухни</span>
                    <p class="top-banner__text">
                        Компания основана в 1998 году. Более 24 лет на мебельном рынке. Лучшие кухни сфасадами из Италии и России по доступным ценам. Наши кухни заказали уже более 100 тыс. довольных клиентов.
                    </p>
                    <div class="badge">
                        <div class="badge__content">
                            <span class="badge__accent">
                                ТОП 10
                            </span>
                            <span class="badge__text">
                                в России
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@if(context.page === "project") {
<section class="top-banner top-banner--project section">
    <div class="container container--large">
        <div class="top-banner__bg" style="background-image: url('img/banners/project.jpg');">
            <div class="top-banner__content">
                <h1 class="top-banner__title title">
                    <span class="top-banner__accent">3D</span>
                    -дизайн кухни
                </h1>
                <p class="top-banner__text">
                    Компания основана 1997 году и мы предлагаем Вам наш 20-летний опыт работы в кухонном бизнесе
                </p>
                <a class="top-banner__link project-scroll btn" href="#project-form">Оставить заявку</a>
                <div class="badge">
                    
                    <div class="badge__content">
                        <span class="badge__accent">
                            Бесплатная
                        </span>
                        <span class="badge__text">
                            помощь дизайнера
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
}