<section class="vacancies @class">
    <div class="container">
        <div class="vacancies__wrapper">
            <div class="vacancies__content">
                <h2 class="vacancies__title title">
                    @title
                </h2>
                <span class="vacancies__subtitle">
                    @subtitle
                </span>
                <div class="vacancies__text">
                    @text
                </div>
                <a class="vacancies__link btn work-scroll" href="#form-vacancy">Вакансии на hh.ru</a>
            </div>
            <div class="vacancies__bg" style="background-image: url('img/work-page/vacancies-bg.jpg');"> </div>
        </div>
    </div>
</section>