<section class="videos @class" id="@id">
    <div class="container">

        @if (context.videos === 'full') {
            <div class="videos__top">
                <h2 class="videos__title title">
                    <span class="videos__accent">Полезные советы</span> по выбору фурнитуры
                </h2>
                <a class="videos__more" href="#">
                    Все видео
                </a>
            </div>
        }

        @if (context.videos === 'several') {
            <div class="videos__top">
                <h2 class="videos__title title">
                    Видео
                </h2>
            </div>
        }

        <ul class="videos__items">
            <li class="videos__item">
                @include('./cards/_video-card.html', {
                'title' : 'Как выбрать лучшую фурнитуру и корпус'
                })
            </li>
            <li class="videos__item">
                @include('./cards/_video-card.html', {
                'title' : 'Гид по стилям в кухонной мебели'
                })
            </li>
        </ul>

    </div>
</section>