.offer-showrooms {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 40px 0;
	overflow: hidden;
	background-color: rgba($grey-200, 0.96);
	background-size: cover;

	@include mq('phone') {
		flex-direction: column;
		width: 100%;
		max-width: 360px;
		margin: 0 auto;
		padding: 40px 10px;
	}

	&__box {
		display: flex;
		flex: 0 0 664px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: 664px;
		margin: 0 auto;

		@include mq('phone') {
			max-width: 100%;
		}

		@include mq('phone') {
			flex: 1 1 auto;
			max-width: 100%;
		}
	}

	&__cards {
		display: flex;
		width: 100%;
		margin-bottom: 70px;
	}

	&__card {
		width: 49%;

		&:not(:last-child) {
			margin-right: 10px;
		}
	}

	&__title {
		margin-bottom: 40px;
		text-align: center;
		text-transform: uppercase;

		@include mq('phone') {
			font-size: 30px;
		}
	}

	&__accent {
		color: $orange-500;
	}

	&__items {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
		margin-bottom: 40px;
		text-align: center;

		@include mq('phone') {
			gap: 10px;
		}
	}

	&__item {
		@include subtitle;

		@include mq('phone') {
			font-size: 13px;
		}
	}

	&__place {
		color: $orange-500;
		text-transform: uppercase;
	}

	&__link {
		padding: 15px 70px 15px 40px;
		border-radius: 16px;

		@include mq('phone') {
			width: 100%;
		}
	}

	&__bg {
		@include bg-img;
		flex: 0 0 500px;
		box-sizing: content-box;
		width: 100%;
		max-width: 500px;
		height: 500px;
		background-size: contain;
		border: 20px solid $white;
		border-radius: 100%;

		@include mq('xl') {
			max-width: 400px;
			height: 400px;
		}

		@include mq('phone') {
			display: none;
			max-width: 220px;
			height: 220px;
			border-width: 8px;
		}

		&--big,
		&--small {
			@include mq('phone') {
				display: block;
				flex: 1 1 170;
			}
		}

		&--small {
			@include mq('phone') {
				max-width: 170px;
				height: 170px;
				margin-left: -100px;
			}
		}
	}

	&__items,
	&__box,
	&__cards,
	&__title {
		@include mq('phone') {
			margin-bottom: 25px;
		}
	}

	&__mobile {
		display: none;

		@include mq('phone') {
			display: flex;
			align-items: center;
			width: 100%;
		}
	}
}
