.offer {
	position: relative;
	z-index: 0;
	margin-bottom: 140px;
	background-color: $grey-200;

	@include mq('xxl') {
		margin-bottom: 100px;
		padding-top: 0;
	}

	@include mq('phone') {
		margin-bottom: 40px;
	}

	&__slide {
		box-sizing: border-box;
        margin: auto 0;
		overflow: hidden;

		&--offer,
		&--discount {
			background-color: $grey-200;

			@include mq('phone') {
				background-color: transparent;
			}
		}

		&--discount,
		&--showrooms {
			position: relative;
			z-index: 1;

			&::before {
				position: absolute;
				z-index: -1;
				width: 100%;
				height: 100%;
			}
		}

		&--discount {
			@include mq('phone') {
				background-color: $grey-200;
			}

			&::before {
				top: 50%;
				left: 50%;
				color: rgba($white, 0.4);
				font-weight: $fw-800;
				font-size: 1500px;
				line-height: 1.2;
				transform: translate(-50%, -80%);
				content: '%';
			}
		}

		&--showrooms {
			@include bg-img;
			background-size: cover;

			@include mq('phone') {
				background-color: $grey-200;
				background-size: 0;
			}

			&::before {
				left: 50%;
				z-index: 1;
				max-width: 770px;
				background-image: url('../img/offer/showrooms/decor.svg');
				background-size: cover;
				transform: translateX(-50%);
				opacity: 0.5;
				content: '';
				@include bg-img;
			}
		}
	}

	&__buttons {
		position: absolute;
		right: 40px;
		bottom: 40px;
		display: flex;

		@include mq('phone') {
			right: 20px;
			bottom: 15px;
		}
	}

	&__button {
		position: relative;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: $orange-500;

		&:not(:last-child) {
			margin-right: 15px;

			@include mq('phone') {
				margin-right: 10px;
			}
		}
	}
}
