.offer {
	position: relative;
	z-index: 0;
	margin-bottom: 140px;
	background-color: $grey-200;

	@include mq('xxl') {
		margin-bottom: 100px;
		padding-top: 0;
	}

	@include mq('phone') {
		margin-bottom: 40px;
	}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 50px;

		@include mq('xxl') {
			display: flex;
			flex-direction: column-reverse;
			min-height: auto;
		}

		@include mq('xl') {
			padding-top: 0;
		}
	}

	&__slider {
		position: relative;
		z-index: 0;
	}

	&__box {
		position: relative;
		display: inherit;
		margin-top: auto;
		@include adaptiv-value('margin-right', 70, -60, 1);

		@include mq('xxl') {
			margin-right: 0;
		}

		@include mq('phone') {
			display: none;
		}
	}

	&__info {
		position: relative;
		display: inline-block;
		width: 100%;
		min-height: 650px;
		margin-left: 0;
		padding-top: 67px;
		padding-bottom: 67px;
		background-color: $white;
		border-radius: 120px 30px 0 0;
		box-shadow: 20px 4px 40px rgba($black, 0.04);
		@include adaptiv-value('padding-left', 50, 0, 1);
		@include adaptiv-value('padding-right', 50, 0, 1);

		@include adaptiv-value('max-width', 465, 260, 1);

		@include mq('xxl') {
			max-width: 100%;
			min-height: auto;
			margin-right: 0;
			padding: 63px 50px 44px 67px;
			@include adaptiv-value('max-width', 1400, 600, 1);
		}
	}

	&__items {
		box-sizing: border-box;
	}

	&__title {
		margin-bottom: 35px;
		color: $orange-500;
		font-weight: $fw-800;
		font-size: 34px;
		line-height: 1.2;

		@include mq('xxl') {
			max-width: 700px;
			margin-bottom: 28px;
		}
	}

	&__small {
		color: $dark-700;
		font-size: 25px;
		line-height: 1.4;

		@include mq('xxl') {
			font-size: 27px;
		}
	}

	&__title,
	&__small {
		display: inline-block;
	}

	&__example {
		margin-bottom: 51px;
		font-size: 18px;
		line-height: 1.5;
		letter-spacing: 0.02em;

		@include mq('xxl') {
			margin-bottom: 20px;
		}
	}

	&__headding {
		display: inline-block;
		margin-bottom: 13px;
		color: $dark-700;
		font-weight: $fw-700;
	}

	&__list {
		max-width: 400px;
		padding-left: 20px;
		list-style: outside;

		@include mq('xxl') {
			max-width: 80%;
		}
	}

	&__text {
		&:not(:last-child) {
			margin-bottom: 11px;
		}
	}

	&__accent {
		display: block;
		margin-top: 5px;
		color: $orange-500;
	}

	&__more {
		position: relative;
		max-width: fit-content;
		padding: 14px 71px 14px 61px;
		font-size: 19px;
		border-radius: 16px;

		&::before {
			position: absolute;
			top: 50%;
			right: 41px;
			width: 16px;
			height: 20px;
			background-image: url('../img/icons/more.svg');
			transform: translateY(-50%);
			content: '';
			@include bg-img;
		}
	}

	&__decor {
		position: absolute;
		right: -100px;
		bottom: 30px;
		z-index: 10;
		width: 160px;
		height: 160px;
		transform: translateY(-50%);
		animation: 5s linear infinite rotate;

		@include mq('xxl') {
			display: none;
		}
	}

	&__decor-text {
		font: inherit;
		font-weight: $fw-800;
		font-size: 20px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		fill: $orange-500;
	}

	&__picture {
		position: relative;
		display: inline-block;
		width: 100%;
		max-width: 740px;
		height: 500px;

		@include mq('xxl') {
			margin: 0 auto 16px;
		}

		@include mq('phone') {
			height: 233px;
		}
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__slide {
		display: flex;
		flex-direction: column;
		align-items: center;
		box-sizing: border-box;
		margin: auto;
		overflow: hidden;
		background-color: $grey-200;

		&--discount {
			background-color: $grey-200;

			@include mq('phone') {
				background-color: transparent;
			}
		}

		&--discount,
		&--showrooms {
			position: relative;
			z-index: 1;
		}

		&--discount {
			@include mq('phone') {
				background-color: $grey-200;
			}
		}

		&--showrooms {
			@include bg-img;
			background-size: cover;

			@include mq('phone') {
				background-color: $grey-200;
				background-size: 0;
			}
		}

		&--certificate {
			position: static;
            overflow: visible;
		}
	}

	&__buttons {
		position: absolute;
		right: unset;
		bottom: 40px;
		left: 50%;
		display: flex;
		justify-content: flex-end;
		width: 100%;
		max-width: 1320px;
		padding: 0 20px;
		transform: translateX(-50%);

		@include mq('phone') {
			right: 20px;
			bottom: 15px;
		}
	}

	&__button {
		position: relative;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 3;
		background-color: $orange-500;

		&:not(:last-child) {
			margin-right: 15px;

			@include mq('phone') {
				margin-right: 10px;
			}
		}
	}
}
