.offer {
	position: relative;
	z-index: 0;
	margin-bottom: 140px;
	background-color: $grey-200;

	@include mq('xxl') {
		margin-bottom: 100px;
		padding-top: 0;
	}

	@include mq('phone') {
		margin-bottom: 40px;
	}

	&__slide {
		display: flex;
		flex-direction: column;
		align-items: center;
		box-sizing: border-box;
		margin: auto;
		overflow: hidden;
		background-color: $grey-200;

		&--discount {
			background-color: $grey-200;

			@include mq('phone') {
				background-color: transparent;
			}
		}

		&--discount,
		&--showrooms {
			position: relative;
			z-index: 1;
		}

		&--discount {
			@include mq('phone') {
				background-color: $grey-200;
			}
		}

		&--showrooms {
			@include bg-img;
			background-size: cover;

			@include mq('phone') {
				background-color: $grey-200;
				background-size: 0;
			}
		}
	}

	&__buttons {
		position: absolute;
		right: 40px;
		bottom: 40px;
		display: flex;

		@include mq('phone') {
			right: 20px;
			bottom: 15px;
		}
	}

	&__button {
		position: relative;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: $orange-500;

		&:not(:last-child) {
			margin-right: 15px;

			@include mq('phone') {
				margin-right: 10px;
			}
		}
	}
}
