.about-card {
	position: relative;
	height: 100%;
	padding: 30px;
	padding-right: 75px;
	background-color: $white;
	border-radius: 20px;

	@include mq('phone') {
		padding: 20px 70px 20px 25px;
	}

	&::before {
		position: absolute;
		right: 20px;
		bottom: 20px;
		width: 50px;
		height: 50px;
		content: '';
		@include bg-img;
	}

	&--staff {
		&::before {
			background-image: url('../img/icons/production-about/staff.svg');
		}
	}

	&--project {
		&::before {
			background-image: url('../img/icons/production-about/project.svg');
		}
	}

	&--city {
		&::before {
			background-image: url('../img/icons/production-about/city.svg');
		}
	}

	&--clients {
		&::before {
			background-image: url('../img/icons/production-about/clients.svg');
		}
	}

    &--sample {
		&::before {
			background-image: url('../img/icons/production-about/sample.svg');
		}
	}

    &--square {
		&::before {
			background-image: url('../img/icons/production-about/square.svg');
		}
	}

	&--plug {
		display: none;

		@include mq('xl') {
			display: flex;
		}

		@include mq('phone') {
			padding: 20px;
		}

		.about-card__content {
			margin: auto;
		}

		.about-card__logo {
			height: 80px;
			object-fit: contain;
		}
	}

	&__content {
		width: 100%;
		max-width: 150px;
	}

	&__accent,
	&__text {
		display: block;
	}

	&__accent {
		margin-bottom: 10px;
		color: $orange-500;
		font-weight: $fw-800;
		font-size: 24px;
		line-height: 1.2;
	}

	&__text {
		color: $dark-700;

		@include mq('phone') {
			font-size: 12px;
		}
	}
}
