.price-card {
	position: relative;
	width: 100%;
	font-weight: $fw-800;
	line-height: 1.1;
	background-color: $white;
	border-radius: 10px;
	@include adaptiv-value('padding', 20, 12, 1);
	transition: box-shadow 0.4s;

	&:hover {
		box-shadow: 0 0 20px rgba($black, 0.05), 20px 4px 40px rgba($black, 0.04);

		@include mq('phone') {
			box-shadow: none;
		}
	}

	&__counter {
		position: absolute;
		top: 20px;
		left: 20px;
		z-index: 2;
		display: block;
		color: $orange-500;
		font-size: 18px;

		@include mq('phone') {
			top: 10px;
			font-size: 10px;
		}
	}

	&__link {
		position: relative;

		&::before {
			@include open-img;
			top: 0;
			right: 0;
			width: 35px;
			height: 35px;
			background-size: 17px;
			border-radius: 6px;

			@include mq('phone') {
				display: none;
			}
		}

		&:hover {
			&::before {
				opacity: 1;
			}
		}
	}

	&__number {
		font-size: 24px;

		@include mq('phone') {
			font-size: 14px;
		}
	}

	&__img {
		width: 100%;
		max-width: 310px;
		height: 264px;
		margin-bottom: 10px;
		object-fit: contain;

		@include mq('phone') {
			max-width: 137px;
			height: 130px;
		}
	}

	&__title {
		margin-bottom: 7px;
		font-size: 18px;

		@include mq('phone') {
			margin-bottom: 3px;
			font-size: 10px;
		}
	}

	&__price {
		color: $orange-500;
		font-size: 20px;

		@include mq('phone') {
			font-size: 11px;
		}
	}
}
