.production-card {
	text-align: left;

	&__img {
		width: 100%;
		height: 150px;
		margin-bottom: 15px;
		object-fit: cover;
		border-radius: 12px;

		@include mq('xl') {
			height: 230px;
		}

		@include mq('phone') {
			height: 150px;
		}
	}

	&__title {
		@include subtitle;
		margin-bottom: 15px;
	}

    &_img,
    &__title {
        @include mq('phone') {
            margin-bottom: 10px;
        }
    }

	&__text {
		color: $dark-700;
		font-size: 15px;

        @include mq('phone') {
			font-size: 12px;
		}
	}
}
