.question-card {
	padding: 30px;
	background-color: $white;
	border-radius: 20px;
	box-shadow: 10px 4px 40px rgba($black, 0.04), 0 0 20px rgba($black, 0.02);

	@include mq('phone') {
		padding: 20px;
	}

	&__top {
		position: relative;
		display: flex;
		width: 100%;
		font-size: 20px;
		text-align: left;
		transition: color 0.4s;
		@include subtitle;

		&::before {
			position: absolute;
			top: 5px;
			right: 0;
			width: 25px;
			height: 12px;
			background-image: url('../img/icons/more.svg');
			transform: rotate(90deg);
			filter: invert(22%) sepia(0%) saturate(7%) hue-rotate(172deg)
				brightness(95%) contrast(91%);
			transition: transform 0.4s;
			content: '';
			@include bg-img;
		}

		&--active {
			margin-bottom: 20px;
			color: $orange-500;

			@include mq('phone') {
				margin-bottom: 15px;
			}

			&::before {
				transform: rotate(-90deg);
				filter: none;
				filter: invert(87%) sepia(34%) saturate(281%) hue-rotate(183deg)
					brightness(91%) contrast(85%);
			}
		}
	}

	&__title {
		padding-right: 30px;

		@include mq('phone') {
			padding-right: 25px;
			font-size: 18px;
		}
	}

	&__content {
		display: none;
	}

    &__text {
        p {
            &:not(:last-child) {
               margin-bottom: 10px;
            }
        }
    }

	&__items {
		display: flex;
		flex-direction: column;
	}

	&__item {
		position: relative;
		padding-left: 12px;

		&::before {
			position: absolute;
			top: 9px;
			left: 0;
			width: 6px;
			height: 6px;
			background-color: $grey-350;
			border-radius: 50%;
			content: '';
		}

        &:not(:last-child) {
            margin-bottom: 10px;
        }
	}
}
