.stage-card {
	width: 100%;

	&--detail {
		display: flex;
		flex-direction: column;
		height: 100%;

		@include mq('phone') {
			flex-direction: row;
		}

		.stage-card__subtitle {
			display: inline-block;
			margin-bottom: 20px;

			@include mq('xl') {
				margin-bottom: 15px;
				font-size: 20px;
			}

			@include mq('phone') {
				margin-bottom: 10px;
				font-size: 18px;
			}
		}

		.stage-card__text {
			margin-bottom: 30px;
			letter-spacing: 0.02em;

			@include mq('xl') {
				margin-bottom: 15px;
				font-size: 14px;
			}

			@include mq('phone') {
				margin-bottom: 0;
				font-size: 12px;
			}
		}

		.stage-card__content {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;
		}

		.stage-card__bg {
			max-width: 420px;
			height: 290px;
			margin-top: auto;
			margin-bottom: 0;

			@include mq('xl') {
				height: 215px;
			}

			@include mq('phone') {
				order: -1;
				height: 190px;
				margin-bottom: 15px;
			}
		}
	}

	@include mq('phone') {
		display: flex;
		padding-bottom: 30px;
	}

	&__number,
	&__subtitle {
		@include subtitle;
	}

	&__number {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 44px;
		height: 44px;
		margin-bottom: 25px;
		color: $orange-500;
		background-color: $white;
		border: 2px solid $orange-500;
		border-radius: 50%;

		@include mq('phone') {
			top: 50px;
			width: 30px;
			min-width: 30px;
			height: 30px;
			margin-right: 10px;
			margin-bottom: 0;
			font-size: 12px;
		}
	}

	&__subtitle {
		color: $dark-700;
	}

	&__bg {
		@include bg-img;
		display: inline-block;
		width: 100%;
		max-width: 100%;
		height: 160px;
		margin-bottom: 25px;
		background-size: cover;
		border-radius: 16px;
		filter: drop-shadow(0 3px 80px rgba($black, 0.05))
			drop-shadow(0 0 16px rgba($black, 0.05))
			drop-shadow(16px 3px 32px rgba($black, 0.04));

		@include mq('phone') {
			margin-bottom: 10px;
		}
	}
}
