.released {
	&__title {
		margin-bottom: 60px;

		@include mq('phone') {
			margin-bottom: 30px;
		}
	}

	&__accent {
		color: $orange-500;
	}

	&__wrapper {
		position: relative;
		margin-bottom: 50px;

		@include mq('phone') {
			margin-bottom: 30px;
		}
	}

	&__button {
		background-color: $orange-500;
		transform: translateY(-50%);

		&--prev {
			left: 0;
		}

		&--next {
			right: 0;
		}

		@include mq('xl') {
			display: none;
		}
	}

	.swiper-button-disabled {
		opacity: 0.6;
	}

	&__swiper {
		position: relative;
	}

	&__item {
		border-radius: 20px;
		box-shadow: 0 0 20px rgba($black, 0.05), 20px 4px 40px rgba($black, 0.04);
	}
}
