.history-top {
	@include bg-img;
	margin-bottom: 140px;
	padding: 100px 0;
	background-size: cover;

	@include mq('phone') {
		margin-bottom: 80px;
		padding: 80px 0;
        background-position: 25%;
	}

	&__content,
	&__description {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__content {
		text-align: center;
	}

	&__title {
		margin-bottom: 50px;
		color: $dark-700;
		font-weight: $fw-800;
		font-size: 120px;
		text-transform: uppercase;

        @include mq('phone') {
            margin-bottom: 25px;
            font-size: 50px;
        }
	}

	&__accent {
		display: block;
		color: $orange-500;
		font-size: 60px;

        @include mq('phone') {
            font-size: 40px;
        }
	}

	&__description {
		width: 100%;
		max-width: 520px;
	}

	&__subtitle {
		@include subtitle;
		display: inline-block;
		margin-bottom: 15px;
	}

	&__text {
		margin-bottom: 25px;
		font-size: 18px;
		letter-spacing: 0.02em;

        p {
            &:not(:last-child) {
               margin-bottom: 10px;
            }
        }
	}

	&__link {
		padding: 15px 55px;
		border-radius: 16px;
		
        @include mq('phone') {
            width: 100%;
        }
	}
}
