.burger-menu {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 19;
	display: none;
	width: 100%;
	padding: 0 20px 33px;
	background-color: rgba($white, 0.95);
	box-shadow: 0 4px 15px rgba($black, 0.12);
	backdrop-filter: blur(50px);

	&--active {
		@include mq('xl') {
			display: block;
		}

		@include mq('phone') {
			display: flex;
			flex-direction: column-reverse;
			align-items: center;
		}
	}

	&__top,
	&__bottom {
		display: flex;
		align-items: center;

		@include mq('phone') {
			flex-direction: column;
		}
	}

	&__top {
		justify-content: space-between;
		margin-bottom: 30px;
		padding-top: 125px;

		@include mq('phone') {
			padding-top: 0;
		}
	}

	&__call {
		display: none;

		@include mq('phone') {
			display: block;
			margin-bottom: 52px;
		}
	}

	&__bottom {
		padding-bottom: 15px;
		overflow-x: auto;

		@include mq('phone') {
			width: 100%;
			max-width: 248px;
			margin-bottom: 50px;
			padding-top: 93px;
			padding-bottom: 0;
			overflow: hidden;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-width: max-content;

		&:not(:last-child) {
			margin-right: 40px;

			@include mq('phone') {
				margin-right: 0;
				margin-bottom: 20px;
			}
		}

		&--catalog {
			.burger-menu__link--dop {
				position: relative;
				padding: 6px 15px 6px 35px;
				background-color: transparent;
				border-radius: 12px;
				transition: background-color 0.4s;

				&::before {
					position: absolute;
					top: 50%;
					left: 10px;
					width: 16px;
					height: 16px;
					background-image: url('../img/icons/burger.svg');
					transform: translateY(-50%);
					content: '';
					@include bg-img;
				}
			}

			.burger-menu__link--dop-active {
				@include mq('xl') {
					color: $white;
					background-color: $orange-500;

					&::before {
						filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(116deg)
							brightness(103%) contrast(101%);
					}
				}

				@include mq('phone') {
					color: inherit;
					background-color: transparent;

					&::before {
						filter: none;
					}
				}
			}
		}

		&--active {
			.burger-menu__link {
				@include mq('phone') {
					color: $orange-500;
				}

				&--catalog {
					@include mq('phone') {
						color: $white;
						background-color: $orange-500;

						&::before {
							filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(116deg)
								brightness(103%) contrast(101%);
						}
					}
				}
			}
		}
	}

	&__link {
		font-weight: $fw-600;
		line-height: 1.1;

		&--dop-active {
			color: $orange-500;

			@include mq('phone') {
				color: unset;
			}
		}
	}
}
