.main-advantages {
	&__wrapper {
		display: flex;
		padding: 80px 50px 50px;
		background-image: linear-gradient(
			179.86deg,
			$grey-200 17.79%,
			$white 99.88%
		);
		border-radius: 60px;
		backdrop-filter: blur(25px);

		@include mq('xl') {
			flex-direction: column;
		}

		@include mq('phone') {
			padding: 50px 0;
		}
	}

	&__content {
		width: 100%;
		max-width: 500px;
		margin-right: 30px;

		@include mq('xl') {
			max-width: 100%;
			margin-right: 0;
			margin-bottom: 40px;
		}

        @include mq('phone') {
			padding: 0 30px;
		}
	}

	&__title {
		margin-bottom: 25px;

		@include mq('phone') {
			margin-bottom: 20px;
		}
	}

	&__accent {
		color: $orange-500;
	}

	&__text {
		margin-bottom: 40px;

		@include mq('phone') {
			margin-bottom: 25px;
            font-size: 12px;
		}
	}

	&__link {
		width: fit-content;
		padding: 15px 80px;
		border-radius: 16px;

		@include mq('phone') {
			width: 100%;
			padding: 15px;
		}
	}

	&__items {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;

		@include mq('phone') {
			display: flex;
			gap: 0;
			overflow-x: auto;
		}
	}

	&__item {
		position: relative;
		padding: 90px 30px 30px;
		background-color: $white;
		border-radius: 20px;

        @include mq('phone') {
            flex: 0 0 220px;
            padding: 70px 20px 20px;
        }

		&:not(:last-child) {
			@include mq('phone') {
				margin-right: 10px;
			}
		}

		&::before {
			position: absolute;
			top: 30px;
			left: 30px;
			width: 40px;
			height: 40px;
			content: '';
			@include bg-img;
		}

		&--measurer {
			&::before {
				background-image: url('../img/icons/main-advantages/measurer.svg');
			}
		}

		&--guarantee {
			&::before {
				background-image: url('../img/icons/main-advantages/guarantee.svg');
			}
		}

		&--calculate {
			&::before {
				background-image: url('../img/icons/main-advantages/calculate.svg');
			}
		}

		&--delivery {
			&::before {
				background-image: url('../img/icons/main-advantages/delivery.svg');
			}
		}

		&--eco {
			&::before {
				background-image: url('../img/icons/main-advantages/eco.svg');
			}
		}

		&--deadline {
			&::before {
				background-image: url('../img/icons/main-advantages/deadline.svg');
			}
		}

		&--price {
			&::before {
				background-image: url('../img/icons/main-advantages/price.svg');
			}
		}

		&--plug {
			background-image: linear-gradient(253deg, $white 3.5%, $grey-200 65%),
				$white;
		}
	}

	&__subtext {
		color: $dark-700;
		font-weight: $fw-600;
		font-size: 18px;
		line-height: 1.2;

        @include mq('phone') {
			font-size: 14px;
		}
	}
}
