.filters {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
	gap: 30px;
	margin-bottom: 30px;
	color: $dark-700;

	@include mq('xl') {
		grid-template-columns: 1fr;
		gap: 25px;
	}

	&--price {
		margin-bottom: 24px;
	}

	&__title {
		margin-bottom: 20px;
		font-weight: $fw-700;
		font-size: 20px;
		line-height: 1.5;
		letter-spacing: 0.02em;

		@include mq('phone') {
			margin-bottom: 17px;
			font-size: 16px;
		}
	}

	&__form {
		display: flex;

		@include mq('xl') {
			flex-wrap: wrap;
			margin-bottom: -18px;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		font-weight: $fw-700;
		line-height: 1.1;
		cursor: pointer;

		&--active {
			.filters__visible {
				&::before {
					background-color: $orange-500;
				}
			}
		}

		&:not(:last-child) {
			margin-right: 40px;

			@include mq('phone') {
				margin-right: 20px;
			}
		}

		@include mq('xxl') {
			margin-bottom: 18px;
		}

		@include mq('phone') {
			font-size: 14px;
		}
	}

	&__visible {
		position: relative;
		display: inline-block;
		order: -1;
		width: 39px;
		min-width: 39px;
		height: 39px;
		margin-right: 20px;
		background-color: $grey-250;
		border-radius: 14px;

		@include mq('phone') {
			width: 27px;
			min-width: 27px;
			height: 27px;
			margin-right: 7px;
			border-radius: 10px;
		}

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 24px;
			height: 24px;
			background-color: transparent;
			border-radius: 8px;
			transform: translate(-50%, -50%);
			transition: background-color 0.4s;
			content: '';

			@include mq('phone') {
				width: 16px;
				height: 16px;
				border-radius: 6px;
			}
		}
	}

	&__hidden {
		position: absolute;
		width: 1px;
		height: 1px;
		overflow: hidden;
		clip: rect(0 0 0 0);

		&:checked {
			& + .filters__visible {
				&::before {
					background-color: $orange-500;
				}
			}
		}
	}
}
