/* stylelint-disable */

// * fonts
$manrope: "Manrope", "Roboto", sans-serif;

$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;

// * colors
$white: #ffffff;
$black: #000000;

$dark-700: #2b2e35;

$orange-500: #ff4002;
$orange-400: #ff682a;
$orange-100: #fef3ed;

$grey-400: #777777;
$grey-350: #a9a9a9;
$grey-300: #bfbfbf;
$grey-270: #dadada;
$grey-260: #f2f2f2;
$grey-250: #e2dede;
$grey-200: #f6f6f6;
