.article {
    @include mq('phone') {
        padding-bottom: 50px;
    }
}

.article-top {
	@include bottom-line;
	padding-bottom: 12px;

	@include mq('phone') {
		margin-bottom: 20px;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;

		@include mq('phone') {
			flex-direction: column;
		}
	}

	&__content {
		max-width: 900px;
		margin-right: 20px;

		@include mq('phone') {
			margin-right: 0;
			margin-bottom: 0;
		}
	}

	&__title {
		margin-bottom: 40px;

		@include mq('phone') {
			margin-bottom: 20px;
		}
	}

    &__info {
        display: flex;
        justify-content: space-between;

        @include mq('phone') {
			align-items: center;
		}
    }

	&__items {
		display: flex;

		@include mq('phone') {
			flex-direction: column;
            margin-right: 15px;
		}
	}

	&__item {
		@include subtitle;
		position: relative;
		padding-left: 36px;
		font-size: 20px;

		@include mq('phone') {
			padding-left: 28px;
			font-size: 14px;
		}

		&::before {
			position: absolute;
			top: 50%;
			left: 0;
			width: 28px;
			height: 28px;
			transform: translateY(-50%);
			content: '';
			@include bg-img;

			@include mq('phone') {
				width: 20px;
				height: 20px;
			}
		}

		&--date {
			&::before {
				background-image: url('../img/icons/calendar.svg');
			}
		}

		&--time {
			&::before {
				background-image: url('../img/icons/time-border.svg');
			}
		}

		&:not(:last-child) {
			margin-right: 60px;

			@include mq('phone') {
				margin-right: 0;
				margin-bottom: 12px;
			}
		}
	}

	&__share {
		display: flex;
		flex-direction: column;
		align-items: center;

		@include mq('phone') {
			display: none;
			align-items: flex-end;
		}

		&--mobile {
            display: none;
            
			@include mq('phone') {
				display: flex;
                max-width: 90px;
			}
		}

        &--active {
            .article-top__copy {
                display: block;
            }
        }
	}

	&__button {
		position: relative;
		margin-bottom: 15px;
		margin-bottom: 5px;
		padding: 17px 47px 17px 84px;
		border-radius: 16px;

		&::before {
			position: absolute;
			left: 48px;
			width: 24px;
			height: 24px;
			background-image: url('../img/icons/share.svg');
			content: '';
			@include bg-img;

			@include mq('xl') {
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		@include mq('xl') {
			width: 56px;
			height: 56px;
			padding: 0;
			font-size: 0;
		}

		@include mq('phone') {
			width: 36px;
			height: 36px;
			border-radius: 10px;
		}
	}

	&__copy {
        display: none;
		font-weight: $fw-800;
		line-height: 1.1;

		@include mq('phone') {
			font-size: 12px;
            text-align: right;
		}
	}
}
